<div class="about-container">
        <h1>About This Web Application</h1>
        <p>This web application uses the following NPM packages and third-party libraries:</p><br>
        <ul>
            <li><strong>express:</strong> Fast, unopinionated, minimalist web framework for Node.js</li>
            <li><strong>express-handlebars:</strong> A Handlebars view engine for Express</li>
            <li><strong>body-parser:</strong> Node.js body parsing middleware</li>
            <li><strong>express-session:</strong> Simple session middleware for Express</li>
            <li><strong>mongodb:</strong> The official MongoDB driver for Node.js</li>
            <li><strong>mongoose:</strong> MongoDB object modeling tool designed to work in an asynchronous environment</li>
            <li><strong>bcrypt:</strong> A library to help you hash passwords</li>
            <li><strong>connect-mongodb-session:</strong> MongoDB-backed session storage for connect and Express</li>
        </ul>
</div>