@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1: #053015;
    --color2: #26A557;
    --color3: #ECFEEF;
    --color4: #386C5F;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    /* background: url('images/dlsu.jpg') no-repeat; */
    background-size: cover;
    background-position: center;

    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
        url('images/dlsu.jpg');
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
        transparent;
    padding: 5px 5%; 
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
    position: sticky; 
    top: 0; 
    z-index: 100;
    
}

.logo{
    width: 160px;
    margin-right: 45px;

}

.menu-left{
    display: flex;
    align-items:end;
}
.search{
    
    width: max-content; 
    display: flex;
    align-items: center;
    padding: 14px; 
    border-radius: 28px;
    background-color: #F0FDF2;
    width: 700px;
    transition: box-shadow 0.25s; 
}

.search:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input{
    font-size: 16px;
    font-family: 'Poppins';
    color: #333333; 
    outline: none;
    border: none;
    background-color: transparent;
    flex: 1; 
}

.search-input::placeholder{
    color:rgba(0, 0, 0, 0.5);
}

.bx-search{
    color:rgba(0, 0, 0, 0.5);
    padding-right: 10px; 
}


.menu-left form{
    display: flex;
    align-items: center;
}

.Create-Post{
    width: max-content; 
    display: flex;
    align-items: center;
    padding-left: 90px;
    background-color: transparent; 
    cursor: pointer;
}

.Profile form{
    display: flex;
    align-items: center;
}

.Create-Post form{
    display: flex;
    align-items: center;
    margin-right: auto;
}


.Logout form{
    display: flex;
    align-items: center;
}

.plus{
    color: #F0FDF2;
   
   
}

#create-post-text{
    color: #F0FDF2; 
    font-family: 'Poppins';
    padding-left: 5px; 
    text-decoration: none;

    
}


.Header {
    display: flex;
    padding: 10px;
    
}

.Header .Profile-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10px;
}

.posts-page{
    border: 1px solid rgba(56, 108, 95, 0.4);
    background-color: #386C5F;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin-top:5%;
   
    padding: 10px 30px;
    border: 2.5px solid black;
    border-radius: 15px;
    display: block;
}

.Profile-info .User-info {
    flex-grow: 1;
    margin-top: 3px;
}

span.Username {
    font-size:20px;
    font-weight: 700;
    color: white;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 700px;
}

.dropbtn img {
    vertical-align: middle;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F0FDF2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /* Position it below the image */
    top: 50%; /* Adjust as needed */
    border-radius: 5px;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #386C5F;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}


.Tag-button {
    background-color: red; 
    color: #FFFFFF; 
    border: none; 
    padding: 8px 16px; 
    border-radius: 4px; 
    cursor: pointer; 
    text-align: center;
    line-height: 8px; 
}


.Tag-button:hover,
.Tag-button:focus {
    background-color: rgb(184, 3, 3); 
}

.Content .Title {
    color: white;
}

.Content .Description{
    font-size: 18px;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Icons p{
    font-size: 30px;
}

.Icons {
    width: 115px;
    display: flex;
}

.vote-container {
    display: flex;
    align-items: center;
    background: #053015;
    border: 2px solid #053015;
    border-radius: 25px;
    padding: 0px 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    user-select: none;
    margin-right: 5px;
}

.vote-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}

.vote-button svg {
    width: 25px;
    height: 24px;
}

.upvote svg {
    fill: white;
}

.downvote svg {
    fill: white;
}

#vote-count {
    font-size: 18px;
    margin: 0 10px;
    color: white;
}

.vote-button.upvote.active svg {
    fill: #ff4500; /* Change to desired upvote color */
}

.vote-button.downvote.active svg {
    fill: #ff4500; /* Change to desired downvote color */
}

.comment-button-container {
    display: flex;
    align-items: center;
    background: #053015;
    border: 2px solid #053015;
    border-radius: 25px;
    padding: 0px 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    user-select: none;
    margin-left: 5px;
}

.comment-button {
    display: flex;
    background: none; 
    border: none; 
    padding: 0; 
}

.comment-button img {
    margin-left: 5px;
    width: 25px; 
    height: 25px; 
    display: block; 
}

.comment-button p {
    font-size: 10px;
    color: white;
}







.Profile{
    width: max-content; 
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
}


.UserPageFormat{
    display: flex;
    background-color: transparent;
    flex-direction: row;
}

.UserPost {
    
    border: 1px solid rgba(56, 108, 95, 0.4);
    backdrop-filter: blur(80px);
    background:
        linear-gradient(
          rgba(56, 108, 95, 0.4), 
          rgba(56, 108, 95, 0.4)
        ),
        transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin-top:5%;
    margin-left: 5%;
    margin-bottom: 10px; 
    padding: 10px 30px;
    border: 2.5px solid black;
    border-radius: 15px;
    display: block;
    flex-direction: row;
    flex: 0 0 60%;
}

.UserProfile {
    border: 1px solid rgba(56, 108, 95, 0.4);
    backdrop-filter: blur(80px);
    background:
        linear-gradient(
          rgba(56, 108, 95, 0.4), 
          rgba(56, 108, 95, 0.4)
        ),
        transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin-top:5%;
    margin-left: 5%;
    margin-right: 20%;
    margin-bottom: auto; 
    padding: 10px 30px;
    border: 2.5px solid black;
    border-radius: 15px;
    display: block;
    flex: 0 0 25%;
}


.ProfilePicture{display:flex; justify-content: center; vertical-align: top; }
            .ProfilePicture > img{
                border-radius: 50%;
                height: 200px;
                width: 200px;
                margin-top: 10px;
                border-style: solid;
                border-color: #386C5F;
                border-width: 10px;

            }

.UserNameCont{display:flex; margin-left: 0px; margin-top: 20px; }
.UserName{
    color:#ECFEEF;
    font-size:30px;
    font-weight: 700;
}

.UserButtonsCont{display:flex; margin-left: 0px; margin-top: 10px; flex-direction: row;}

.EditButton{
    display: inline-block;
    padding: 5px 45px;
    border-radius: 16px; /* Adjust the value to control the roundness */
    cursor: pointer;
    background-color: #26A557;
    margin-right: 3%;
    color:#ECFEEF;
    font-size:20px;
    font-weight: 700;
}

.EditButton:hover,
.EditButton:focus {
    background-color: rgb(15, 140, 90); 
}



.ProfileText{
    color:#ECFEEF;
    font-size:20px;
    font-weight: 700;
}

.SmallerProfileText{
    color:#ECFEEF;
    font-size:15px;
    font-weight: 700;
}



.ExtraInfoCont{display:flex; margin-left: 0px; margin-top: 10px; flex-direction: row; }

.PostNo{display:flex; margin-right: 5px; margin-top: 10px; flex-direction: column; }

.CommentNoPostNo{display:flex; margin-right: 0px; margin-top: 10px; flex-direction: column; }

.CreationDate{display:flex; margin-right: 0px; margin-top: 10px; flex-direction: column; }

.PostCont{display:flex; margin-right: 0px; margin-top: 10px; flex-direction: column; border-top: 1.5px  solid rgba(255, 255, 255, 0.5); border-bottom: 1.5px solid rgba(255, 255, 255, 0.5); cursor: pointer;}

.PostCont:hover,
.PostCont:focus {
    background-color: rgb(21, 55, 49); 
}

.TagText{
    color:#ECFEEF;
    font-size:12px;
    font-weight: 700;
}

.PostTitle{
    font-size: 18px;
    color: white;
    margin-top: 11px;
    margin-bottom: 15px;
    text-align: justify;
}

.PostDate{
    font-size: 12px;
    color: white;
    text-align: justify;
}


.Tag-button {
    background-color: red; 
    color: #FFFFFF; 
    border: none; 
    padding: 8px 1px; 
    border-radius: 4px; 
    cursor: pointer; 
    text-align: center;
    line-height: 8px;
    margin-right: 80%; 
    margin-bottom: 5px;
    margin-top: 10px;
}

.Tag-button:hover,
.Tag-button:focus {
    background-color: rgb(184, 3, 3); 
}


.ProfileViewTab{display:flex; margin-right: 0px; margin-top: 10px; flex-direction: row; ; }

.PostsButton{
    display: inline-block;
    padding: 5px 45px;
    border-radius: 16px; /* Adjust the value to control the roundness */
    cursor: pointer;
    background-color: #26A557;
    margin-right: 3%;
}

.PostsButton:hover,
.PostsButton:focus {
    background-color: rgb(15, 140, 90); 
}

.CommentButton{
    display: inline-block;
    padding: 5px 45px;
    border-radius: 16px; /* Adjust the value to control the roundness */
    cursor: pointer;
    background-color: #386C5F;
}

.CommentButton:hover,
.CommentButton:focus {
    background-color: rgb(11, 77, 50); 
}

.ProfileView{
    color:#ECFEEF;
    font-size:20px;
    font-weight: 700;
}